* {
    font-family: 'Assistant', sans-serif;
    padding: 0px;
    margin: 0px;
    color: #063042;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
}

nav {
    height: 60px;
    width: 30vw;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    right: 140px;
}

#logo {
    height: 18.4px;
}

#burger {
    width: 20vw;
    height: 60px;
    align-items: center;
    display: flex;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 10px;
}

#burger i {
    position: absolute;
    left: 20px;
}

#bot {
    justify-content: center;
    display: flex;
    padding-bottom: 30px;
}

#bot img {
    height: 120px;
    width: 100px;
}

#after-img {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#after-img span {
    width: 100vw;
    align-items: center;
    text-align: center;
}


#toopen span {
    color: white;
    font-size: large;
}

#toopen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 25vh;
    background-color: #1cbaa0;
    box-shadow: rgba(28, 186, 160, 0.6) 0px 10px 40px -10px;
    border-radius: 6px;
}

#hello {
    padding-bottom: 100px;
}

#gray-background {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0px;
    right: 0px;
    transition: all 2s ease-in-out;
}

#navside {
    height: 100vh;
    width: 70vw;
    position: absolute;
    top: 0px;
    left: 0px;
    justify-content: center;
    transition: all 2s ease-in-out;
    background-color: white;
}

.hide {
    display: none;
    opacity: 0;
    transform: translateX(-100%);
}

.show {
    display: flex;
    opacity: 1;
    transform: translateX(0%);
}

ul {
    padding-top: 10vh;
}

li:nth-of-type(1) span {
    color: white;
}

li {
    width: 236px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d5f3ef;
}

li:nth-of-type(1) {
    width: 236px;
    height: 34px;
    background-color: #1cbaa0;
    border-radius: 6px;
    color: white;
}

li:nth-of-type(2) b {
    color: #1cbaa0;
}

.hidden {
    display: none;
}

.spinner {
    border: 2px solid rgba(255, 255, 255, 0.354);
    border-top: 2px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#pepper {
  display: flex;
  position: absolute;
  top: 42vh;
  right: 10vw;
  width: 80vw;
  height: 45vh;
  overflow: scroll;
  border: rgb(213, 213, 213) 1px solid;
  background-color: #e7e7e7;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

#pepper p {
  text-align: justify;
  width: 100%;
  overflow-wrap: break-word;
}
